// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/*
@media (min-width:31em) {
  .site-nav {
    float: left;
  }
} 

.site-title {
  float: right;
}
*/

.page-content {
  text-align: justify;
  text-justify: inter-word;
}

.post-list-heading {
  @include relative-font-size(1.5);
}

.post-link {
  @include relative-font-size(1.3);
}

.home {
  img {
    //border-radius: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1em 0;
  }

  @media (min-width:27em) {
    img {
      margin-left: 3em;
    }
  } 
}

.footer-last-update {
  width: $spacing-unit * 10;
  //margin-right: 0px;
  > p {
    text-align: right;
  }
}

/* 1em = 16px, 3em = 48px, 27em = 432px */
