// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.page-content{
  text-align: justify;
  text-justify: inter-word;
}

.post-list-heading {
  @include relative-font-size(1.5);
}

.post-link {
  @include relative-font-size(1.3);
}

/*
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

La photo fait 336px = 21em ? Conversion 1em=16px. On suppose que oui dans la suite. Si la taille de l'écran est supérieure à 16em, placer la photo à gauche, avec une marge pour assurer la continuité. Deux options.
1. Faire une marge de 3.5em=56px, et transition pour une taille d'écran à 28em = 448px.
2. Faire une marge de 3em=48px, et transition pour une taille d'écran à 27em = 432px.
*/

