// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.page-content{
  text-align: justify;
  text-justify: inter-word;
}

.post-list-heading {
  @include relative-font-size(1.5);
}

.post-link {
  @include relative-font-size(1.3);
}

img {
  border-radius: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:27em) {
  img {
    margin-left: 3em;
  }
} 

/* 
Si la largeur de l'écran est supérieure à 27em, imposer la largeur de la marge à gauche plutôt que de centrer l'image.
1em = 16px, 3em = 48px, 27em = 432px 
*/
